In [1]:
import pandas as pd
import numpy as np
# import pydot

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.model_selection import train_test_split

import statsmodels.formula.api as smf
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.svm import SVC

from sklearn.metrics import f1_score,roc_curve,auc,precision_score,recall_score

from sklearn.metrics import confusion_matrix

import seaborn as sns
from scipy import stats
import scipy.stats
import statsmodels.api as smd
from statsmodels.stats.proportion import proportions_ztest

# 가설검정, 분산분석하는 패키지
from statsmodels.formula.api import ols # 분산분석하기? 모델링?
from statsmodels.stats.anova import anova_lm # 아노바 데이터프레임 형태 출력
from scipy.stats import shapiro
%matplotlib inline
from sklearn.preprocessing import scale,minmax_scale,robust_scale
from scipy.stats import probplot
from sklearn.model_selection import train_test_split
from statsmodels.api import Logit

# font_path = 'C:/Windows/Fonts/gulim.ttc'
font_path = 'C:/Windows/Fonts/gulim.ttc'
font_name = matplotlib.font_manager.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family = font_name)

from matplotlib import font_manager,rc

from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from statsmodels.api import qqplot, add_constant

# from sklearn.tree import export_graphviz
# import graphviz

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import numpy as np
# import pydot

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.model_selection import train_test_split

import statsmodels.formula.api as smf
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.svm import SVC

from sklearn.metrics import f1_score,roc_curve,auc,precision_score,recall_score

from sklearn.metrics import confusion_matrix

import seaborn as sns
from scipy import stats
import scipy.stats
import statsmodels.api as smd
from statsmodels.stats.proportion import proportions_ztest

# 가설검정, 분산분석하는 패키지
from statsmodels.formula.api import ols # 분산분석하기? 모델링?
from statsmodels.stats.anova import anova_lm # 아노바 데이터프레임 형태 출력
from scipy.stats import shapiro
%matplotlib inline
from sklearn.preprocessing import scale,minmax_scale,robust_scale
from scipy.stats import probplot
from sklearn.model_selection import train_test_split
from statsmodels.api import Logit

# # font_path = 'C:/Windows/Fonts/gulim.ttc'
# font_path = '/usr/share/fonts/opentype/noto/NotoSerifCJK-ExtraLight.ttc'
# font_name = matplotlib.font_manager.FontProperties(fname=font_path).get_name()
# matplotlib.rc('font', family = font_name)

from matplotlib import font_manager,rc

from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from statsmodels.api import qqplot, add_constant

# from sklearn.tree import export_graphviz
# import graphviz

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
df_raw = pd.read_csv('insu_pre_review.csv',encoding = 'euckr')

In [4]:
df_raw['risk'] = np.where(df_raw['judge'] == '거절',1,0)

In [5]:
df_raw

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,bt_mchc_judge,bt_mvc_judge,bt_plat_judge,bt_rbc_judge,bt_wbc_judge,bt_rgpt_judge,bt_sgot_judge,bt_sgpt_judge,bt_trig_judge,risk
0,C112346,혈액검사,재검,2014-10-09,1,70,165,63,92,88,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1,C112350,일반검진,재검,2014-11-18,1,69,178,75,99,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,C112355,일반검진,재검,2015-03-18,1,70,169,69,96,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,C112356,혈액검사,재검,2015-09-28,1,70,165,64,103,92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,C112358,혈액검사,거절,2015-02-24,1,70,166,73,100,91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14933,C134246,혈액검사,승인,2015-02-11,2,63,150,53,94,80,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
14934,C134250,일반검진,승인,2015-09-16,2,52,164,60,90,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14935,C134251,일반검진,재검,2015-06-21,2,57,157,48,89,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14936,C134252,혈액검사,재검,2015-06-26,2,66,150,47,86,84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14937,C134253,혈액검사,승인,2015-06-28,2,26,160,48,80,69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## 일반 검사

In [9]:
g_raw = df_raw[df_raw['review_cat'] == '일반검진']
g_raw

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,bt_mchc_judge,bt_mvc_judge,bt_plat_judge,bt_rbc_judge,bt_wbc_judge,bt_rgpt_judge,bt_sgot_judge,bt_sgpt_judge,bt_trig_judge,risk
1,C112350,일반검진,재검,2014-11-18,1,69,178,75,99,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,C112355,일반검진,재검,2015-03-18,1,70,169,69,96,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,C112365,일반검진,승인,2014-11-19,1,69,160,67,96,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,C112367,일반검진,재검,2014-12-10,1,69,155,55,86,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,C112369,일반검진,승인,2015-03-20,1,70,168,60,95,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14907,C134200,일반검진,재검,2015-05-28,1,60,157,58,95,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14928,C134233,일반검진,재검,2015-09-02,2,66,150,63,95,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14931,C134240,일반검진,거절,2015-08-27,2,22,160,47,80,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
14934,C134250,일반검진,승인,2015-09-16,2,52,164,60,90,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14935,C134251,일반검진,재검,2015-06-21,2,57,157,48,89,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [18]:
g_test_1 = g_raw.iloc[:,:15]
g_test_2 = g_raw[['bp_judge','pulse_count_judge','judge_score','risk','customer_id']]
g_test = pd.merge(g_test_1,g_test_2,on='customer_id',how='left').drop(['bmi','whtr'],axis=1)
g_test

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,bp_min,bp_max,pulse_count,bp_judge,pulse_count_judge,judge_score,risk
0,C112350,일반검진,재검,2014-11-18,1,69,178,75,99,92,80,130,60,1,0,0,0
1,C112355,일반검진,재검,2015-03-18,1,70,169,69,96,88,80,120,72,0,0,0,0
2,C112365,일반검진,승인,2014-11-19,1,69,160,67,96,91,80,120,68,0,0,0,0
3,C112367,일반검진,재검,2014-12-10,1,69,155,55,86,74,90,150,64,1,0,0,0
4,C112369,일반검진,승인,2015-03-20,1,70,168,60,95,86,80,130,64,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3152,C134200,일반검진,재검,2015-05-28,1,60,157,58,95,76,80,125,68,1,0,0,0
3153,C134233,일반검진,재검,2015-09-02,2,66,150,63,95,86,86,130,68,1,0,1,0
3154,C134240,일반검진,거절,2015-08-27,2,22,160,47,80,60,60,100,82,0,0,0,1
3155,C134250,일반검진,승인,2015-09-16,2,52,164,60,90,66,80,120,70,0,0,0,0
3156,C134251,일반검진,재검,2015-06-21,2,57,157,48,89,72,70,110,72,0,0,2,0

## 모델링

In [19]:
g_num = g_test.select_dtypes(exclude = 'object')

In [20]:
g_num

,gender,age,height,weight,bust,waist,bp_min,bp_max,pulse_count,bp_judge,pulse_count_judge,judge_score,risk
0,1,69,178,75,99,92,80,130,60,1,0,0,0
1,1,70,169,69,96,88,80,120,72,0,0,0,0
2,1,69,160,67,96,91,80,120,68,0,0,0,0
3,1,69,155,55,86,74,90,150,64,1,0,0,0
4,1,70,168,60,95,86,80,130,64,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3152,1,60,157,58,95,76,80,125,68,1,0,0,0
3153,2,66,150,63,95,86,86,130,68,1,0,1,0
3154,2,22,160,47,80,60,60,100,82,0,0,0,1
3155,2,52,164,60,90,66,80,120,70,0,0,0,0
3156,2,57,157,48,89,72,70,110,72,0,0,2,0

In [33]:
df_x = g_num.drop(['risk','weight'],axis = 1)
df_x # 종속 변수 빼고 새롭게 데이터 프레임 생성
df_x_const = add_constant(df_x) # const열 생성

df_vif = pd.DataFrame()
df_vif['variable'] = df_x_const.columns
df_vif['VIF'] = [variance_inflation_factor(df_x_const.values,i) for i in range(df_x_const.shape[1])]
df_vif.sort_values('VIF',inplace=True)
df_vif.round(3) # 다중공선성 존재 X -> 회귀식 자체로 판단

             variable       VIF
10  pulse_count_judge     1.010
11        judge_score     1.020
8         pulse_count     1.033
2                 age     1.352
9            bp_judge     2.092
1              gender     2.549
3              height     2.746
6              bp_min     3.216
4                bust     3.452
5               waist     3.711
7              bp_max     4.677
0               const  1895.735

In [30]:
ensem_x = g_num.drop(['risk','weight'],axis=1)
ensem_y = g_num[['risk']]

# ensem_x = pd.get_dummies(ensem_x)

# scaler = StandardScaler()
# en_sc = scaler.fit_transform(ensem_x)
# ensem_x = pd.DataFrame(en_sc,columns=ensem_x.columns)

# 데이터 분할 1 : 학습용과 시험용

train_x, test_x, train_y, test_y = train_test_split(ensem_x,ensem_y,test_size=0.3,random_state = 1234)
# 학습용 데이터를 밸리데이션과 학습용으로 분할함으로써 CV진행 준비
train_x, val_x, train_y, val_y = train_test_split(train_x,train_y,test_size = 3/7, random_state = 1234)

In [36]:
gb_first = GradientBoostingClassifier(random_state=1234)
gb_first.fit(train_x,train_y)

print()
print('초기 모델의 train data의 설명력 : {:.3f}'.format(gb_first.score(train_x,train_y)))
print('초기 모델의 validation data의 설명력 : {:.3f}'.format(gb_first.score(val_x,val_y)))
print('초기 모델의 test data의 설명력 : {:.3f}'.format(gb_first.score(test_x,test_y)))

C:\Users\BHU\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

초기 모델의 train data의 설명력 : 0.871
초기 모델의 validation data의 설명력 : 0.828
초기 모델의 test data의 설명력 : 0.840

In [37]:
y_pred=gb_first.predict(test_x)
print('Accuracy:{0:.3f}\n'.format(gb_first.score(test_x,test_y)))
print('Confusion matrix:\n{}'.format(confusion_matrix(test_y,y_pred)))

#분석 모델
model=['GradientBoosting']
#정확도 저장
train_accuracy=[]; test_accuracy=[]
#f1 score 저장
model_f1_score=[]
#auc score 저장
model_auc=[]
#precision score저장
model_precision_score=[]
#recall score 저장
model_recall_score=[]

#최종 모델
gb_model=RandomForestClassifier(random_state=1234)
gb_model.fit(train_x,train_y)
# train 정확도
train_accuracy.append(gb_model.score(train_x, train_y))
# test 정확도
test_accuracy.append(gb_model.score(test_x, test_y))
#최종 모델을 이용한 분류 예측
y_pred=gb_model.predict(test_x)
#roc_curve(실제값,예측값) fpr=(FP)/(FP+TN):거짓 양성 비율, tpr=TP/(TP+FN):진짜 양성비율(재현율)
fpr,tpr,thresholds=roc_curve(test_y,y_pred)
roc_auc=auc(fpr,tpr)
#auc 저장
model_auc.append(roc_auc)

#f1스코어
model_f1_score.append(f1_score(test_y,y_pred))
#precision 스코어
model_precision_score.append(precision_score(test_y,y_pred))
#recall 스코어
model_recall_score.append(recall_score(test_y,y_pred))

df_eval=pd.DataFrame(index=model)
df_eval['TrainAccuracy']=train_accuracy
df_eval['TestAccuracy']=test_accuracy
df_eval['F1Score']=model_f1_score
df_eval['AUC']=model_auc
df_eval['PrecisionScore']=model_precision_score
df_eval['RecallScore']=model_recall_score
df_eval.round(3)

Accuracy:0.840

Confusion matrix:
[[790  24]
 [128   6]]

C:\Users\BHU\anaconda3\lib\site-packages\ipykernel_launcher.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

,TrainAccuracy,TestAccuracy,F1Score,AUC,PrecisionScore,RecallScore
GradientBoosting,1.0,0.854,0.055,0.51,0.333,0.03

# 기존 모델 정확도 0.84, 정밀도 0.333