In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
normal = pd.read_excel("2nd_classification_normal.xlsx")

In [126]:
normal['second_risk'].fillna(0, inplace=True)

In [127]:
normal.isnull().sum()

customer_id              0
review_cat               0
judge                    0
review_date              0
gender                   0
age                      0
height                   0
weight                   0
bust                     0
waist                    0
bmi                      0
whtr                     0
bp_min                   0
bp_max                   0
pulse_count              0
new_judge_score          0
new_bp_judge             0
new_pulse_count_judge    0
first_risk               0
second_risk              0
dtype: int64

In [128]:
# 수익 0 / 할증 1 / 거절 2

In [129]:
normal['final_risk'] = '최종'

In [130]:
normal

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,whtr,bp_min,bp_max,pulse_count,new_judge_score,new_bp_judge,new_pulse_count_judge,first_risk,second_risk,final_risk
0,C112409,일반검진,거절,2015-01-20,1,69,178,75,99,90,...,0.505618,90,150,60,0,1,0,0,0.0,최종
1,C112414,일반검진,거절,2014-10-13,1,68,165,70,94,88,...,0.533333,80,135,74,0,1,0,0,0.0,최종
2,C112421,일반검진,거절,2015-08-02,1,69,165,55,93,82,...,0.496970,70,110,70,0,0,0,0,0.0,최종
3,C112437,일반검진,거절,2015-03-24,1,68,163,60,100,84,...,0.515337,80,120,64,0,0,0,0,0.0,최종
4,C112449,일반검진,거절,2014-11-26,1,67,164,55,93,79,...,0.481707,80,130,51,1,1,1,0,0.0,최종
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,C134023,일반검진,거절,2015-06-24,2,63,156,50,90,82,...,0.525641,80,120,68,0,0,0,0,0.0,최종
479,C134058,일반검진,거절,2015-07-30,2,69,158,70,103,90,...,0.569620,70,110,64,0,0,0,0,0.0,최종
480,C134153,일반검진,거절,2015-05-31,2,37,161,53,80,69,...,0.428571,70,120,74,0,0,0,0,0.0,최종
481,C134160,일반검진,거절,2015-08-20,2,53,150,60,91,82,...,0.546667,80,125,76,0,1,0,0,0.0,최종
482,C134240,일반검진,거절,2015-08-27,2,22,160,47,80,60,...,0.375000,60,100,82,0,0,0,0,0.0,최종

In [131]:
def func(row):
    if row['first_risk']==1:
        return 2
    elif row['second_risk']==1:
        return 1
    else:
        return 0
normal['final_risk'] = normal.apply(func, axis=1)

In [132]:
normal['final_risk'].value_counts()

0    452
1     25
2      6
Name: final_risk, dtype: int64

In [133]:
normal

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,whtr,bp_min,bp_max,pulse_count,new_judge_score,new_bp_judge,new_pulse_count_judge,first_risk,second_risk,final_risk
0,C112409,일반검진,거절,2015-01-20,1,69,178,75,99,90,...,0.505618,90,150,60,0,1,0,0,0.0,0
1,C112414,일반검진,거절,2014-10-13,1,68,165,70,94,88,...,0.533333,80,135,74,0,1,0,0,0.0,0
2,C112421,일반검진,거절,2015-08-02,1,69,165,55,93,82,...,0.496970,70,110,70,0,0,0,0,0.0,0
3,C112437,일반검진,거절,2015-03-24,1,68,163,60,100,84,...,0.515337,80,120,64,0,0,0,0,0.0,0
4,C112449,일반검진,거절,2014-11-26,1,67,164,55,93,79,...,0.481707,80,130,51,1,1,1,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,C134023,일반검진,거절,2015-06-24,2,63,156,50,90,82,...,0.525641,80,120,68,0,0,0,0,0.0,0
479,C134058,일반검진,거절,2015-07-30,2,69,158,70,103,90,...,0.569620,70,110,64,0,0,0,0,0.0,0
480,C134153,일반검진,거절,2015-05-31,2,37,161,53,80,69,...,0.428571,70,120,74,0,0,0,0,0.0,0
481,C134160,일반검진,거절,2015-08-20,2,53,150,60,91,82,...,0.546667,80,125,76,0,1,0,0,0.0,0
482,C134240,일반검진,거절,2015-08-27,2,22,160,47,80,60,...,0.375000,60,100,82,0,0,0,0,0.0,0

In [134]:
normal = normal.drop(['first_risk','second_risk'],axis=1)
normal.to_excel('normal_final_classification.xlsx')